<% if flash[:success] %>
  <div class="flash flash--success mb-5">
    <%= flash[:success] %>
  </div>
<% end %>
<% if flash[:notice] %>
  <div class="flash flash--notice mb-5">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="flash flash--alert mb-5">
    <%= flash[:alert] %>
  </div>
<% end %>
